#sudoku-board input[data-row="3"][data-col="0"] {
    background-color: white;
    border-right-color: hsl(0, 0%, 84%);
    border-bottom-color: hsl(0, 0%, 84%);
    border-top-width: 2px;
    border-left-width: 2px;
}

#sudoku-board input[data-row="3"][data-col="1"] {
    background-color: white;
    border-right-color: hsl(0, 0%, 84%);
    border-bottom-color: hsl(0, 0%, 84%);
    border-top-width: 2px;
}

#sudoku-board input[data-row="3"][data-col="2"] {
    background-color: white;
    border-bottom-color: hsl(0, 0%, 84%);
    border-right-width: 2px;
    border-top-width: 2px;
}

#sudoku-board input[data-row="4"][data-col="0"] {
    background-color: white;
    border-right-color: hsl(0, 0%, 84%);
    border-bottom-color: hsl(0, 0%, 84%);
    border-left-width: 2px;
}

#sudoku-board input[data-row="4"][data-col="1"] {
    background-color: white;
    border-right-color: hsl(0, 0%, 84%);
    border-bottom-color: hsl(0, 0%, 84%);
}

#sudoku-board input[data-row="4"][data-col="2"] {
    background-color: white;
    border-bottom-color: hsl(0, 0%, 84%);
    border-right-width: 2px;
}

#sudoku-board input[data-row="5"][data-col="0"] {
    background-color: white;
    border-right-color: hsl(0, 0%, 84%);
    border-bottom-width: 2px;
    border-left-width: 2px;
}

#sudoku-board input[data-row="5"][data-col="1"] {
    background-color: white;
    border-right-color: hsl(0, 0%, 84%);
    border-bottom-width: 2px;
}

#sudoku-board input[data-row="5"][data-col="2"] {
    background-color: white;
    border-right-width: 2px;
    border-bottom-width: 2px;
}